input {
    keyboard {
        xkb {
            layout "sk"
        }
        numlock
    }
    mouse {
        accel-speed 0.00
    }
    touchpad {
        tap
        accel-speed 0.0
        natural-scroll
        dwt
    }
}
