// id=dms_rule_7 @name=
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

// @id=dms_rule_2 @name=
window-rule {
    match app-id="^gnome-control-center$"
    match app-id="^pavucontrol$"
    match app-id="^nm-connection-editor$"
    open-floating false
    default-column-width { proportion 0.5; }
}

// @id=dms_rule_3 @name=
window-rule {
    match app-id="^org\\.gnome\\.Calculator$"
    match app-id="^gnome-calculator$"
    match app-id="^galculator$"
    match app-id="^blueman-manager$"
    match app-id="^org\\.gnome\\.Nautilus$"
    match app-id="^xdg-desktop-portal$"
    match app-id="^zenity$"
    open-floating true
}

// @id=dms_rule_4 @name=
window-rule {
    match app-id="^steam$" title="^notificationtoasts_\\d+_desktop$"
    open-focused false
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

// @id=dms_rule_6 @name=
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
