[SddmGreeterTheme]
Name=Mori
Description=Minimal Everforest login theme for SDDM
Author=Martin
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=mori
Theme-API=2.0
QtVersion=6
